.area__input-guest {
    border: 1px solid $darkshade25;
    border-radius: 4px;
    cursor: pointer;
}
.area__input-guest.\.show {
    border-radius: 4px 4px 0 0;
}
.dropdown {
    display: none;
    position: absolute;
    background: #ffffff;
    z-index: 3;
    width: 320px;
    flex-direction: column;
    border: 1px solid $darkshade25;
    border-radius: 0 0 4px 4px;
}
.dropdown.\.show {
    display: flex;
}
.area__block-list {
    display: flex;
    flex-direction: column;
    border: 1px solid $darkshade25;
    border-radius: 0 0 4px 4px;
}
.dropdown__block {
    display: flex;
    justify-content: space-between;
}
.area__list-dropdown {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkshade;
}
.area__list-btn_col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkshade;
    margin: 7px;
    width:92px;
}
.area__list-btn_col button {
    width: 30px;
    height: 30px;
    border: 1px solid $darkshade25;
    border-radius: 50%;
    background-color: #fff;
    color: $darkshade5;
    &:hover {
        opacity: 0.38;
    }
}