.pagination__body {
    font-size: 12px;
    line-height: 40px;
    color: rgba(31, 32, 65, 0.5);
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
} 
.pagination__body li{
    cursor: pointer;
} 
.pagination__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    &:first-child{
        display: none;
        position: relative;
        border-radius: 22px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        top: -4px;
    }
    &:last-child {
        position: relative;
        padding-top: 10px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 22px;
    }
}
.pagination__button_active {
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}
.pagination__count {
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
.pagination-slider_position{
    margin-bottom: 20px;
}
.material-icons_pagination-right {
    // top: 7px;
    left: 8px;
    color: #ffffff;
}
.material-icons_pagination-left {
    // top: 7px;
    left: 8px;
    color: #ffffff;
    transform:rotate(180deg)
}
