.pagination {
    margin-left: 1px;
}
.pagination__body {
    font-size: 12px;
    line-height: 40px;
    color: $darkshade5;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.pagination__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
    &:first-child{
        display: none;
        position: relative;
        border-radius: 22px;
        background: linear-gradient(180deg, $green 0%, #66D2EA 100%);
        top: -4px;
    }
    &:last-child {
        position: relative;
        padding-top: 10px;
        background: linear-gradient(180deg, $green 0%, #66D2EA 100%);
        border-radius: 22px;
    }
    &:hover {
        border-radius: 22px;
        background: $green;
        color: #ffffff;
    }
}
.pagination__button_active {
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    border-radius: 22px;
}
.pagination__count {
    line-height: 24px;
    color: $darkshade75;
    margin-left: 4px;
}
.mb16 {
    margin-bottom: 16px;
}
.material-icons__pagination_right {
    left: 8px;
    color: #ffffff;
}
.material-icons__pagination_left {
    left: 8px;
    color: #ffffff;
    transform:rotate(180deg)
}