.pagination {
    margin-left: 1px;
}
.pagination__body {
    font-size: 12px;
    line-height: 40px;
    color: $darkshade5;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.pagination__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 22px;
    cursor: pointer;
    &:hover {
        border-radius: 22px;
        background: $green;
        color: #ffffff;
    }
}
.pagination__button-arrow_left {
    display: none;
    position: relative;
    background: linear-gradient(180deg, $green 0%, #66D2EA 100%);
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    cursor: pointer;
}
.pagination__button-arrow_right {
    position: relative;
    background: linear-gradient(180deg, $green 0%, #66D2EA 100%);
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    cursor: pointer;
}
.pagination__button-arrow_right.show {
    display: flex;
}
.pagination__button-arrow_left.show {
    display: flex;
}
.pagination__button.active {
    color: #fff;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
}
.pagination__count {
    line-height: 24px;
    color: $darkshade75;
    margin-left: 4px;
}
.mb16 {
    margin-bottom: 16px;
}
.material-icons__pagination_right {
    left: 8px;
    color: #ffffff;
}
.material-icons__pagination_left {
    left: 8px;
    color: #ffffff;
    transform:rotate(180deg) translateY(50%);
}