.area__header.pagination-slider_position
    label.area__name(for="pagination") Pagination
.pagination
    ul.pagination__body 
        li
            span.material-icons.material-icons_pagination-left arrow_forward  
        li.pagination__button_active 1
        li.pagination__button 2
        li.pagination__button 3
        li.pagination__button ...
        li.pagination__button 15
        li.pagination__button
            span.material-icons.material-icons_pagination-right arrow_forward  
    .pagination__count 1 – 12 из 100+ вариантов аренды
