.position-star {
    margin-bottom: 16px;
}
.rate-button__body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.rate-button__group{
    position: relative;
    width: 100px;
    height: 19px;
    margin-right: 20px;
    background-size: 20px auto;
    background-repeat: repeat-x;
}
.rate-button__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .rate-button__star,
    &:hover + .rate-button__star{
        background-image: url(../images/star.svg);
    }
}
.rate-button__star{
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-image: url(../images/star_border.svg);
    background-repeat: repeat-x;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    &:nth-of-type(1) {
        z-index: 5;
        width: 20px;
    }
    &:nth-of-type(2) {
        z-index: 4;
        width: 40px;
    }
    &:nth-of-type(3) {
        z-index: 3;
        width: 60px;
    }
    &:nth-of-type(4) {
        z-index: 2;
        width: 80px;
    }
    &:nth-of-type(5) {
        width: 105px;
        z-index: 1;
    }
    &:hover ~ .rate-button__star {
        background-image: url(../images/star_border.svg)
    }
}
// .material-icons_star {
//     font-size: 24px;
//     right: 2px;
//     background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//     text-fill-color: transparent;
// }