.form-elements__rate-button
    .area__name.position-star Rate button
    .rate-button__body
        fieldset
            .rate-button__group
                input.rate-button__input(type="radio" name="star" value="1" id="star-1")
                label.rate-button__star(for="star-1" aria-label="the worst") 
                    //- span.material-icons_star.material-icons star
                input.rate-button__input(type="radio" name="star" value="2" id="star-2")
                label.rate-button__star(for="star-2" aria-label="bad") 
                    //- span.material-icons_star.material-icons star
                input.rate-button__input(type="radio" name="star" value="3" id="star-3")
                label.rate-button__star(for="star-3" aria-label="normal") 
                    //- span.material-icons_star.material-icons star  
                input.rate-button__input(type="radio" name="star" value="4" id="star-4" checked)
                label.rate-button__star(for="star-4" aria-label="good") 
                    //- span.material-icons_star.material-icons star
                input.rate-button__input(type="radio" name="star" value="5" id="star-5")
                label.rate-button__star(for="star-5" aria-label="perfect") 
                    //- span.material-icons_star.material-icons star
        fieldset
            .rate-button__group
                input.rate-button__input(type="radio" name="star-second" value="1" id="star-second-1")
                label.rate-button__star(for="star-second-1" aria-label="the worst") 
                    //- span.material-icons_star.material-icons star
                input.rate-button__input(type="radio" name="star-second" value="2" id="star-second-2")
                label.rate-button__star(for="star-second-2" aria-label="bad") 
                    //- span.material-icons_star.material-icons star
                input.rate-button__input(type="radio" name="star-second" value="3" id="star-second-3")
                label.rate-button__star(for="star-second-3" aria-label="normal") 
                    //- span.material-icons_star.material-icons star  
                input.rate-button__input(type="radio" name="star-second" value="4" id="star-second-4" )
                label.rate-button__star(for="star-second-4" aria-label="good") 
                    //- span.material-icons_star.material-icons star
                input.rate-button__input(type="radio" name="star-second" value="5" id="star-second-5" checked)
                label.rate-button__star(for="star-second-5" aria-label="perfect") 
                    //- span.material-icons_star.material-icons star