.find-number {
    padding: 40px 28px 30px 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.find-number__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.find-number__name {
    font-weight: 700;
    line-height: 17px;
    color: #1F2041;
}
.find-number__name span:first-child {
    font-size: 24px;
    line-height: 29px;
}
.find-number__name span:last-child {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}
.find-number__title {
    font-size: 12px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    & span {
        font-weight: 700;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }
}
.find-number__body {      
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
.find-number__body-block{
    display: flex;
    justify-content: space-between;
}
.find-number__body-block_left{
    flex: 0 0 230px;
    display: flex;
    justify-content: space-between;
}
.find-number__body-block_left p {
    margin-right: 5px;
}
.find-number__body-block_left span {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    color: rgba(31, 32, 65, 0.25);
    cursor: help;
    &::after{
        content: "";
        position: absolute;
        top: 1px;
        right: -8px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid rgba(31, 32, 65, 0.25);
    }
}
.find-number__price {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
    & span {
        display: block;
        position: relative;
        top: 18px;
        left: 61px;
        width: 182px;
        border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
    }
}
.find-number__price p:first-child{
    float: left;
}
.find-number__price p:last-child{
    float: right;
}