.area__body.checkbox-buttons_position
    p.area__name Like button
.area__like-button
    .area__like-button-block.position-mr20
        span.material-icons.material-icons_like favorite_border
        input#lb1.like(type="checkbox")
        label#js-like-color.js-like-count(for="lb1") 2
    .area__like-button-block.position-mr20
        span.material-icons.material-icons_like.material-icons_like-color favorite
        input#lb2.like(
                type="checkbox"
                checked
                )
        label#js-like-color.js-like-count(for="lb2") 12 
        