fieldset.mb15
    legend.area__name Like button
.like
    .like__body.mr10
        span.material-icons.material-icons__like favorite_border
        input#lb1.like__input(type="checkbox")
        label.js-like-count(for="lb1") 2
    .like__body
        span.material-icons.material-icons__like.material-icons__like-color favorite
        input#lb2.like__input(
                type="checkbox"
                checked
                )
        label.js-like-count(for="lb2") 12 