fieldset.mb15
    legend.area__name Like button
.area__like-button
    .area__like-button-block.mr10
        span.material-icons.material-icons__like favorite_border
        input#lb1.like(type="checkbox")
        label.js-like-color.js-like-count(for="lb1") 2
    .area__like-button-block
        span.material-icons.material-icons__like.material-icons__like-color favorite
        input#lb2.like(
                type="checkbox"
                checked
                )
        label.js-like-color.js-like-count(for="lb2") 12 
        