@import "../../colors&type/colors&type.scss";
header {
    background-color: #ffffff;
    padding: 26px 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.header__nav {
    display: flex;
    @media (max-width:900px) {
        display: none;
    }
}
.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 40px;
}
.nav__item {
    margin-right:20px;
    &:nth-child(2){
        margin-right: 30px;
    }
    &:last-child {
        margin-right: 10px;
    }
}
.nav__link {
    color: $darkshade5;
    position: relative;
}
.nav__style {
    font-weight: 700;
    color: $darkshade75;
}
.nav__button {
    width: 303px;
    display: flex;
    justify-content: space-between;
}
.nav__button-entry {
    border: 2px solid $purple;
    border-radius: 22px;
    padding: 7px 20px 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(15 / 12 * 100%);
    text-transform: uppercase;
    background-color: #ffffff;
    color: $purple;
    cursor: pointer;
}
.nav__button-registration {
    padding: 9px 20px 10px 19px;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(15 / 12 * 100%);
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    cursor: pointer;
}
.nav__user {
    position: relative;
    & a {
        line-height: calc(17 / 14 * 100%);
        color: $darkshade5;
    }
    &::before {
        content: "";
        position: absolute;
        top: -8px;
        left: -20px;
        width: 1px;
        height: 30px;
        background: rgba(31, 32, 65, 0.1);
    }
}
.header__burger {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 40px;
    height: 36px;
    cursor: pointer;
    perspective: 200px;
    @media (max-width:900px) {
        position: relative;
        opacity: 1;
        visibility: visible;
        display: block;
        transition: all 0.5s ease;
        transform: rotateY(360deg);
    }
    & span {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background-color: $purple;
        transition: all 0.5s ease;
    }
    &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background-color: $purple;
        transition: all 0.5s ease;
    }
    &::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background-color: $purple;
        transition: all 0.5s ease;
    }
}
.header__burger.active {
    width: 40px;
    height: 36px;
    position: relative;
    cursor: pointer;
    & span {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background-color: $purple;
        transform: rotate(-45deg);
        transition: all 0.5s ease;
    }
    &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background-color: $purple;
        transform: rotate(45deg);
        transition: all 0.5s ease;
    }
    &::before {
        display: none;
    }
}



