header
    .container
        .header
            a(href="/"): img(src = require("../../../images/logo.svg") alt="logo") 
            nav.header__nav
                ul.nav
                    li.nav__item: a(href="/").nav__link.nav__style О нас
                    li.nav__item: a(href="/").nav__link Услуги
                        span.material-icons_hd.material-icons expand_more
                    li.nav__item: a(href="/").nav__link Вакансии
                    li.nav__item: a(href="/").nav__link Новости
                    li.nav__item: a(href="/").nav__link Соглашения
                        span.material-icons_hd.material-icons expand_more
                .nav__user: a(href="/") Юлий Цезарь
            .header__burger 
                span(area-label="burger")