.position-filter266
    .area__body.position-mb17
        label.area__name-expandable.js-expand-display-hidden(for="Expandable checkbox list") Expandable checkbox list
        span.material-icons#js-expand-hidden.js-expand-display-hidden expand_more 
    ul.area__expandable-checkbox-list-hidden
        li  
            input#ch1(type="checkbox")
            label(for="ch1") Завтрак
        li  
            input#ch2(type="checkbox" checked)
            label(for="ch2") Письменный стол
        li 
            input#ch3(type="checkbox" checked)
            label(for="ch3") Стул для кормления
        li  
            input#ch4(type="checkbox" checked)
            label(for="ch4") Кроватка
        li  
            input#ch5(type="checkbox")
            label(for="ch5") Телевизор
        li  
            input#ch6(type="checkbox")
            label(for="ch6") Шампунь 