.position-filter266
    .area__header.range-slider_position
        label.area__name(for="range-slider") Range slider
        .area__body-slider
            span.area__name-fn.js-value-lower
            span  - 
            span.area__name-fn.js-value-upper 
    .slider-styled#slider