.mw266
    .area.mb22
        label.area__name Range slider
        .area__body-slider.area__state
            span.js-value-lower
            span  - 
            span.js-value-upper 
    .slider-styled#slider