.mw266
    .area__header.mb22
        label.area__name(for="range-slider") Range slider
        .area__body-slider.area__name-fn
            span.js-value-lower
            span  - 
            span.js-value-upper 
    .slider-styled#slider