@import '../find-number/find-number.scss';
@import '../registration/registration.scss';
@import '../appartment/appartment.scss';
.cards__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F4F4F6;
    padding: 7px 179px 141px 178px;
}
.cards__container_left {
    margin-right: 40px;
}
.cards__container_middle {
    margin-right: 40px;
}
.mr40 {
    margin-right: 40px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb30 {
    margin-bottom: 30px;
}


