.color 
    a(href="/")
        img.first-logo(src = require("../../images/first-logo.svg"), alt="first-logo")
    .color__container 
        .color__block-color
            .block-color
                .block-color__dark-shade-100
                .block-color__body
                    p.block-color__body-name Dark Shade 100%
                    p.block-color__body-number #1F2041
            .block-color
                .block-color__dark-shade-75
                .block-color__body
                    p.block-color__body-name Dark Shade 75%
                    p.block-color__body-number #1F2041
            .block-color
                .block-color__dark-shade-50
                .block-color__body
                    p.block-color__body-name Dark Shade 50%
                    p.block-color__body-number #1F2041
            .block-color
                .block-color__dark-shade-25
                .block-color__body
                    p.block-color__body-name Dark Shade 25%
                    p.block-color__body-number #1F2041
            .block-color
                .block-color__dark-shade-5
                .block-color__body
                    p.block-color__body-name Dark Shade 5%
                    p.block-color__body-number #1F2041
            .block-color
                .block-color__purple
                .block-color__body
                    p.block-color__body-name Purple
                    p.block-color__body-number #BC9CFF
            .block-color
                .block-color__green
                .block-color__body
                    p.block-color__body-name Green
                    p.block-color__body-number #6FCF97
        .color__block-title
            .block-title 
                span H1
                h1 This one is the sub-section or widget title
            .block-title 
                span H2
                h2 Next one is the item title inside widgets
            .block-title 
                span H3
                h3 This is a label or CTA text
            .block-title 
                span Body
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.
