//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title UI-KIT
//-     body
//-         .wrapper    
//-             include ../components/form-elements/form-elements.pug
//-             .marBtm40 
//-                 a(href="/"): img.first-logo(src="../images/first-logo.svg" alt="logo")
//-                 include ../components/cards/cards.pug
//-             .marBtm40
//-                 a(href="/"): img.first-logo(src="../images/first-logo.svg" alt="logo")
//-                 include ../components/headers-footers/header/header-up.pug
//-             .marBtm40
//-                 include ../components/headers-footers/header/header-down.pug
//-             .marBtm40
//-                 include ../components/headers-footers/footer/footer.pug
//-             .marBtm40
//-                 include ../components/headers-footers/footer-mobile/footer-mobile.pug
//-             include ../components/colors-type/colors-type.pug
//-         script(src="/page/ui-kit.js")