@import "../../../pages/colors-type/colors-type.scss";
.footer {
    line-height: calc(17 / 14 * 100%);
    background-color: #ffffff;
    flex: 0 0 auto;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 73px;
        left: 0;
        box-shadow: 0px 1px 0px rgb(31 32 65 / 10%);
        height: 1px;
        width: 100%;
    }
}
.footer-up {
    padding: 100px 0;
    display: flex;
    // justify-content: space-between;
    position: relative;
}
.footer-up__title {
    font-weight: 700 ;
    font-size: 12px;
    line-height: calc(15 / 12 * 100%);
    text-transform: uppercase;
    margin-bottom: 21px;
    & a {
        color: $darkshade;
    }
}
.footer-up__item { 
    display: flex;
    flex-direction: column;
    flex: 0 1 245px;
}
.footer-up__input {
    width: 100%;
    border: 1px solid $darkshade25;
    border-radius: 4px;
    padding: 8px 15px;
}
.footer-up__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: inherit;
    width: 24px;
    height: 24px;
}
.mb20 {
    margin-bottom: 20px;
}
.footer-up__button {
    position: relative;
}
.footer-up__text {
    line-height: calc(24 / 14 * 100%);
    color: $darkshade5;
}
.footer-up__subtitle {
    margin-bottom: 20px;
    line-height: calc(24 / 14 * 100%);
    color: $darkshade5;
}
.footer-up__block{
    display: flex;
    flex-direction: column;
    flex: 0 1 260px;
    margin-right: 40px;
}
.footer-up__nav {
    display: flex;
    margin-top: 4px;
    & a {
        color: $darkshade5;
    }
}
.footer-up__nav ul {
    flex: 0 1 200px;
}
.footer-up__nav li {
    margin-right: 10px;
    margin-bottom: 21px;
    &:last-child{
        margin-bottom: 0;
    }
}
.footer-down {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 26px 0;
}
.footer-down__title {
    color: $darkshade75;
}
.footer-down__icon {
    margin-right: 22px;
    &:last-child {
        margin-right: 0;
    }
}
@media (max-width:992px) {
    .footer{
        padding: 120px 0;
    }
    .footer::after {
        display: none;
    }
    .footer-up{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .footer-up__nav{
        display: none;
    }
    .footer-up__block{
        margin-right: 0;
        align-items: center;
    }
    .footer-up__text {
        display: none;
    }
    .footer-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .footer-down__title{
        margin-bottom: 25px;
        text-align: center;
    }
}