mixin field(plhold= "Email", nameFr="Default")
    .mw320
        fieldset.area__header
            legend.area__name Text field 
            span.area__name-fn=nameFr 
        input(class!=attributes.class).position-input_large(
            type="text"
            placeholder=`${plhold}`
            )