mixin field(plhold= "Email", nameFr="Default", text='Text field ')
    .mw320
        fieldset.area
            legend.area__name=text
            span.area__state=nameFr 
        input(class!=attributes.class).position-input_large(
            type="text"
            placeholder=`${plhold}`
            )