.area__input-guest {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: pointer;
}
.area__input-guest.\.active-guest {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}
.area__block-list-hidden {
    display: none;
    flex-direction: column;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0 0 4px 4px;
}
.area__block-list-hidden.\.active-guest{
    display: flex;
    position: absolute;
    width: 320px;
    background: #ffffff;
    z-index: 3;
}
.area__block-list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0 0 4px 4px;
}
.area__list {
    display: flex;
    justify-content: space-between;
}
.area__list-dropdown {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}
.area__list-btn_col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin: 7px;
    width:92px;
}
.area__list-btn_col button {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    background-color: #fff;
    color: rgba(31, 32, 65, 0.5);
    &:hover {
        opacity: 0.38;
    }
}