mixin input-field(plhold= "Email")
    .position-filter320
        fieldset.area__header
            legend.area__name Text field 
            span.area__name-fn default 
        input.area__input.position-input-large-area(
            type="text"
            placeholder=`${plhold}`
            )