.appartment
    .appartment__slider
        ul 
            li.appartment__slider-img.current
                img(src = require("../../images/appartment1.png"), alt="appartment")
            li.appartment__slider-img
                img(src = require("../../images/appartment2.png"), alt="appartment2") 
            li.appartment__slider-img
                img(src = require("../../images/appartment3.jpg"), alt="appartment3") 
            li.appartment__slider-img
                img(src = require("../../images/appartment4.jpg"), alt="appartment4") 
        .appartment__dots 
            button.appartment__dot.current
            button.appartment__dot
            button.appartment__dot
            button.appartment__dot
        button.js-slide-left 
            span.material-icons.material-icons__arrow_left expand_more
        button.js-slide-right 
            span.material-icons.material-icons__arrow_right expand_more
    .appartment__body 
        .appartment__title 
            .type-appart.mb20
                .type-appart__number №<span>888</span> <span>люкс</span>
                .type-appart__price <span>9 990₽</span> в сутки
            .appartment__feedback
                fieldset    
                    .rate-button__group
                        input.rate-button__input(type="radio" name="star-second" value="1" id="star-app-1")
                        label.rate-button__star(for="star-app-1" aria-label="the worst") 
                        input.rate-button__input(type="radio" name="star-second" value="2" id="star-app-2")
                        label.rate-button__star(for="star-app-2" aria-label="bad") 
                        input.rate-button__input(type="radio" name="star-second" value="3" id="star-app-3")
                        label.rate-button__star(for="star-app-3" aria-label="normal") 
                        input.rate-button__input(type="radio" name="star-second" value="4" id="star-app-4" )
                        label.rate-button__star(for="star-app-4" aria-label="good") 
                        input.rate-button__input(type="radio" name="star-second" value="5" id="star-app-5" checked)
                        label.rate-button__star(for="star-app-5" aria-label="perfect") 
                .appartment-block <span>145</span> Отзывов