$darkshade: #1F2041;
$darkshade75: rgba(31, 32, 65, 0.75);
$darkshade5: rgba(31, 32, 65, 0.5);
$darkshade25: rgba(31, 32, 65, 0.25);
$darkshade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29 / 24 * 100%);
    text-align: left;
}
h2 {
    font-weight: 700;
    font-size: 19px;
    line-height: calc(23 / 19 * 100%);
}
h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: calc(15 / 12 * 100%);
    text-transform: uppercase;
}
.color {
    background: #ffffff;
}
.color__container {
    padding: 0 140px 145px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    // flex-wrap: wrap;
}
.color__block-title {
    flex: 0 0 436px;
}
.block-color {
    display: flex;
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0;
    }
}
.block-color__dark-shade-100{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    background-color: $darkshade;
}
.block-color__dark-shade-75{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    background-color: $darkshade75;
}
.block-color__dark-shade-50{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    background-color: $darkshade5;
}
.block-color__dark-shade-25{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    background-color: $darkshade25;
}
.block-color__dark-shade-5{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    background-color: $darkshade05;
}
.block-color__purple{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    background-color: $purple;
}
.block-color__green{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    background-color: $green;
}
.block-color__body-name {
    font-weight: 700;
    font-size: 19px;
    line-height: calc(28  / 19 * 100%);
    color: $darkshade;
}
.block-color__body-number {
    font-size: 19px;
    line-height: calc(28  / 19 * 100%);
    color: $darkshade;
}
.block-title {
    display: flex;
    margin-bottom: 51px;
    &:last-child {
        margin-bottom: 0;
    }
    &:first-child span{
        font-size: 24px;
        line-height: calc(29 / 24 * 100%);
    }
    &:nth-child(2) span{
        font-size: 19px;
        line-height: calc(23 / 19 * 100%);
    }
    &:nth-child(3) span{
        font-size: 12px;
        line-height: calc(15 / 12 * 100%);
    }
    &:last-child span{
        line-height: calc(24 / 14 * 100%);
    }

}
.block-title span {
    color: rgba(31, 32, 65, 0.25);
    width: 30px;
    height: 30px;
    text-align: right;
    margin-right: 30px;
}
.block-title p {
    line-height: calc(24 / 14 * 100%);
    color: rgba(31, 32, 65, 0.75);
}