@import "../colors&type/colors&type.scss";
.form-elements {
    background: #ffffff;
    &__text-field {
        margin-bottom: 20px;
    }
    &__masked-text-field {
        margin-bottom: 40px;
    }
    &__date-dropdown {
        margin-bottom: 40px;
    }
    &__filter-date-dropdown {
        margin-bottom: 42px;
    }
    &__dropdown-expanded {
        margin-bottom: 48px;
    }
    &__checkbox-buttons {
        margin-bottom: 38px;
    }
    &__radio-buttons{
        margin-bottom: 37px;
    }
    &__rate-button {
        margin-bottom: 199px;
    }
    &__pagination {
        margin-bottom: 232px;
    }
    &__dropdown{
        margin-bottom: 110px;
    }
    &__like-button {
        margin-bottom: 40px;
    }
    &__buttons {
        margin-bottom: 31px;
    }
    &__range-slider{
        margin-bottom: 44px;
    }
    &__toggle {
        margin-bottom: 44px;
    }
    &__button-pay {
        margin-bottom: 40px;
    }
    &__dropdown-default {
        margin-bottom: 20px;
    }
    &__dropdown-guest {
        margin-bottom: 23px;
    }
    &__expandable-checkbox{
        margin-bottom: 50px;
    }
    &__button {
        margin-bottom: 100px;
    }
}
.form-elements__container {
    margin: 0 auto;
    width: 1440px;
    padding: 0 140px 100px 142px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mb101 {
    margin-bottom: 101px;
}
.mb11 {
    margin-bottom: 11px;
}
.form-elements__icons-block {
    grid-column: 1/2;
}
.form-elements_left {
    margin-right: 105px;
}
.form-elements_middle {
    margin-right: 72px;
}
.form-elements__review {
    grid-column: 2/4;
}
.area__radio-buttons {
    display: flex;
    line-height: 24px;
    color: $darkshade5;
    & li {
        margin-right: 20px;
    }
    & input:checked,
    input:not(:checked){
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
    & input:checked + label,
    input:not(:checked) + label{
        position: relative;
        display: inline-block;
        padding-left: 30px;
        line-height: 21px;
        cursor: pointer;
    }
    & input:not(:checked) + label::before,
    input:checked + label::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $darkshade25;
        border-radius: 100%
    }
    & input:checked + label::after,
    input:not(:checked) + label::after{
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background-color:  #8BA4F9;
        border-radius:100%;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    & input:checked + label::after {
        opacity: 1;
    }
    & input:not(:checked) + label::after {
        opacity: 0;
    }
}
.mb14{
    margin-bottom: 14px;
}
.area__input-filter-date-dropdown {
    color:  $darkshade75;
    border: 1px solid $darkshade25;
    border-radius: 4px;
    line-height: 18px;
}
.area__button {
    & button {
        background-color: #fff;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $purple;
        cursor: pointer;
        padding: 7px 13px;
    }
    & button:first-child {
        float: right;
    }
    & button:nth-child(2) {
        float: left;
    }
}

// ЧТО-ТО ТУТ НЕ ТАК ПОСЛЕ АВТОЗАМЕНЫ ОБРАТИ ВНИМАНИЕ ПРИ РЕФАКТОРИНГЕ
.area__list-dropdown {
    margin-left: 13px;
}
.area__list-dropdown li {
    margin-bottom: 22px;
    &:first-child {
        margin-top: 13px;
    }
    &:last-child {
        margin-bottom: 17px;
    }
}
.area__expandable-checkbox-list {
    & input:checked,
    input:not(:checked){
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
    & input:checked + label,
    input:not(:checked) + label{
        position: relative;
        display: inline-block;
        padding-left: 30px;
        line-height: 21px;
        cursor: pointer;
    }
    & input:not(:checked) + label::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $darkshade25;
        border-radius: 4px;
    }
    & input:checked + label::before{    
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #8BA4F9;
            border-radius: 4px;
    }
    & input:checked + label::after,
    input:not(:checked) + label::after{
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 8px;
        height: 6px;
        border-left: 2px solid #8BA4F9;
        border-bottom: 2px solid #8BA4F9;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    & input:checked + label::after {
        opacity: 1;
        }
    & input:not(:checked) + label::after {
        opacity: 0;
        }
}
.area__expandable-checkbox-list li {
    line-height: 18px;
    color: $darkshade5;
    margin: 0 0 9px 0px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.area__expandable-checkbox-list span {
    display: inline-block;
    font-weight: 700;
    line-height: 18px;
    color: $darkshade75;
    margin-bottom: 5px;
}
.area__expandable-checkbox-list p {
    font-size: 12px;
    line-height: 14px;
    color: $darkshade5;
}
.area__name {
    font-weight: 700;
    font-size: 12px;
    line-height: calc(15 / 12 * 100%);
    text-transform: uppercase;
    color: $darkshade;
}
.area__name-fn {
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: $darkshade5;  
}
.area__body {
    position: relative; 
}
.area__input-date-dropdown {
    position: relative;
    padding: 13px 30px 13px 15px;
    color:  $darkshade75;
    border: 1px solid $darkshade25;
    border-radius: 4px;
    line-height: 18px;
    text-transform: uppercase;
        & span {
            position: absolute;
            top: 8px;
            right: 5px;
            color: $darkshade5;
        }    
}
//text-field
.area__masked-text-field {
    border: 1px solid $darkshade25;
    border-radius: 4px;
    text-transform: uppercase;
    &::-webkit-input-placeholder {
        color: $darkshade25;
        text-transform: uppercase;
    }
    &:-moz-placeholder {
        color: $darkshade25;
        text-transform: uppercase;  
    }
    &:hover{
        &::-webkit-input-placeholder {
            color: $darkshade75;
        }
        &:-moz-placeholder {
            color: $darkshade75;
        }
    }
    &:focus{
        &::-webkit-input-placeholder {
            color: $darkshade75;
        }
        &:-moz-placeholder {
            color: $darkshade75;
        } 
    }
}
.area__header {
    margin-bottom: 5px;
    position: relative;
}
.area__input {
    border: 1px solid $darkshade25;
    border-radius: 4px;
    &::-webkit-input-placeholder {
        color: $darkshade25;
    }
    &:-moz-placeholder {
        color: $darkshade25;
    }
    &:hover{
        &::-webkit-input-placeholder {
            color: $darkshade75;
        }
        &:-moz-placeholder {
            color: $darkshade75;
        }
    }
    &:focus{
        &::-webkit-input-placeholder {
            color: $darkshade75;
        }
        &:-moz-placeholder {
            color: $darkshade75;
        } 
    }
}
.area__input_active {
    border: 1px solid $darkshade5;
    border-radius: 4px; 
    &::-webkit-input-placeholder {
        color: $darkshade75;
    }
    &:-moz-placeholder {
        color: $darkshade75;
    }
}
.date { 
    display: flex;
    flex-direction: row; 
    margin-bottom: 5px;
    position: relative;
}
.date-dropdown {
    margin-right: 20px;
}
.material-icons {
    position: absolute;
    // top: 25%;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: $darkshade5;
    z-index: 1;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.material-icons_purpure {
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 48px;
    cursor: default;
    right: 0;
}
.material-icons_arrow {
    right: 0;
    color: #8BA4F9;
    font-size: 24px;
}
.material-icons_hd {
    right: -23px;
}
.material-icons_white {
    // top: 23%;
    color: #ffffff;
    &:hover{
        opacity: 1;
    }
}
.material-icons.\.material-icons_rotate{
    transform: rotate(180deg) translateY(50%);
    transition: all ease 0.5s;
}
.icons-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}
.icons-block__img {
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.icons-block__body {
    & p:first-child {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: $darkshade75;
    }
    & p:last-child {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $darkshade75;
    }
    &::after {
        content:"";
        position: absolute;
        top: 65px;
        left: 0;
        width: 280px;
        height: 1px;
        background: rgba(31, 32, 65, 0.1);
    }
}
.review {
    display: flex;
    margin-top: 10px;
    margin-bottom: 11px;
}
.ml4 {
    margin-left: 4px;
}
.review__img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    & img {
        position: absolute;
        top: -10px;
        left: -20px;
    }
}
.review__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $darkshade75;
    & p {
        font-weight: 700;
    }
}
.review__body {
    display: flex;
    & p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $darkshade75;
    }
}
.button-position {
    margin: 0 18px 30px 1px;
}
.button-position_sec {
    margin: 0 18px 30px 0px;
}
.mr20 {
    margin-right: 20px;
}
.mb15 {
    margin-bottom: 15px;
}
.button-click {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 14px 21px 15px 19px;
}
.button-click_active {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    border-radius: 22px;
    opacity: 0.5;
    padding: 14px 21px 15px 19px;
}
.button-click-sec {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    border: 2px solid $purple;
    border-radius: 22px;
    background: #ffffff;
    padding: 13px 18px 12px;
}
.button-click-sec_active {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    border: 2px solid $purple;
    border-radius: 22px;
    background: #ffffff;
    opacity: 0.5;
    padding: 13px 18px 12px;
}
.button-click_th {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    background:#ffffff;
}
.button-click_th_active {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkshade5;
    background:#ffffff;
}
.button-pay {
    max-width: 320px;
    & button {
        background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
        border-radius: 22px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 14px 0px 15px;
        width: 100%;
    }
}
.button-pay__link {
    display: block;
    position: relative;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 0px 15px;
    &:hover{
        opacity: 0.8;
    }
}
.bullet-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $darkshade75;
}
.bullet-list li {
    margin:0 0 10px 20px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        top: 7px;
        left: -20px;
        border-radius: 100%;
        background: $darkshade25;
    }
}
.mb10 {
    margin-bottom: 10px;
}
.mb17 {
    margin-bottom: 17px;
}
.mw266 {
    max-width: 266px;
    position: relative;
}
.mw255 {
    max-width: 255px;
}
.mw320 {
    max-width: 320px;
}
.mw150 {
    max-width: 150px;
}
.mw200 {
    max-width: 200px;
}
.mr10 {
    margin-right: 10px;
}
.mr14 {
    margin-right: 14px;
}
.position-input_small {
    width: 266px;
    padding: 13px 40px 13px 15px;
}
.position-input_large {
    width: 320px;
    padding: 13px 30px 13px 15px;
}

.position-calendar {
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
    clip: rect(0 0 0 0);
}