doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title UI-KIT
    body
        .wrapper    
            include ./components/form-elements/form-elements.pug
            .mb40 
                a(href="/")
                    img.first-logo(src = require("./images/first-logo.svg") alt="logo")
                include ./components/cards/cards.pug
            .mb40
                a(href="/")
                    img.first-logo(src = require("./images/first-logo.svg") alt="logo")
                include ./components/headers & footers/header/header-up.pug
            .mb40
                include ./components/headers & footers/header/header-down.pug
            .mb40
                include ./components/headers & footers/footer/footer.pug
            .mb40
                include ./components/headers & footers/footer-mobile/footer-mobile.pug
            include ./components/colors&type/colors&type.pug
        script(src="main.js")