doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toxin
    body
        .wrapper    
            include ./components/form-elements/form-elements.pug
            .mb40 
                a(href="/")
                    img.first-logo(src = require("./images/first-logo.svg") alt="logo")
                include ./components/cards/cards.pug
            .mb40
                a(href="/")
                    img.first-logo(src = require("./images/first-logo.svg") alt="logo")
                include ./components/headers & footers/header/header-up.pug
            .mb40
                include ./components/headers & footers/header/header-down.pug
            .mb40
                include ./components/headers & footers/footer/footer.pug
            .mb40
                include ./components/headers & footers/footer-mobile/footer-mobile.pug
            .mb40 
                include ./pages/colors-type/colors-type.pug
            .mb40 
                include ./pages/landing-page/landing-page.pug
            .mb40 
                include ./pages/registration/registration.pug
            .mb40 
                include ./pages/room-details/room-details.pug
            .mb40 
                include ./pages/sign-in/sign-in.pug
            include ./pages/search-room/search-room.pug